.grid {
  overflow: auto;
  display: block;
}
.grid > div {
  width: 200px;
  height: 120px;
}

.vcenter  {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  display: block;
  width: 110px;
}

figure.left img {
  float: left;
}

figure.logoleft img {
  max-height: 150px;
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 0px;
  float: left;
  background-color: #F2EFE8 ;
  padding: 20px;
  border-radius: 10px;
}

#forkongithub a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}
#forkongithub a:hover {
  background: #c11;
  color: #fff;
}
#forkongithub a::before, #forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}
#forkongithub a::after {
  bottom: 1px;
  top: auto;
}
@media screen and (min-width:800px) {
  #forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }
  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}

a.fn-item:hover {
  color: #5d008b; }

a.fn-item.active {
  color: #5d008b;
  opacity: 1; }

a:hover {
  color: #5d008b; }

a.btn {
  background-color: #5d008b;
  color: white;
}

a.btn:hover {
  background-color: white; 
  color: #5d008b;
}