<nav id="traefik-navbar" class="navbar navbar-expand-sm bg-light">
    <div id="traefik-menu" class="container-fluid">
        <a class="navbar-brand mx-0 my-auto" href="/">
            <img src="/img/traefik_logo@3x.svg" id="logo"/>
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto p-0">
                <li class="nav-item">
                    <a class="nav-link ml-1 ml-md-3" href="https://docs.traefik.io" role="button">
                        Documentation <img src="/img/traefik_logo.png" class="p-0 my-0"/>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-1 ml-md-3" href="https://containo.us" role="button">
                        Containous <img src="/img/containous_logo.png" class="p-0 my-0"/>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-1 md-3" href="https://github.com/containous/traefik" role="button">
                        Github <img src="/img/github_logo@3x.svg" class="p-0 my-0"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>