/**
 * This theme is based upon the Solarized Light theme for reveal.js.
 * Author of current theme: Damien DUPORTAL
 * Author of Solarized: Achim Staebler
 */

 // primary: "Montserrat",
 // secondary: "Lobster Two",
 // third: "Rancho"
// @import url(../../lib/font/league-gothic/league-gothic.css);
// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


/* Montserrat - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* Webfont: Rancho */
@font-face {
    font-family: 'Rancho';
    src: url('./fonts/rancho-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/rancho-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/rancho-v8-latin-regular.woff2') format('woff2'), /* Modern Browsers */
         url('./fonts/rancho-v8-latin-regular.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.reveal small,
.reveal .small,
.reveal .small ul
.reveal .small ul li,
.reveal .small ul li p, {
display: inline-block;
font-size: 0.6em;
line-height: 1.2em;
vertical-align: top; }

.reveal .small ul {
list-style-type: none;
}

.reveal .shadow img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section[data-state="invert"] p,
.reveal section[data-state="invert"] ul,
.reveal section[data-state="invert"] li,
.reveal section[data-state="invert"] small {
    color: black; }

.reveal section[data-state="invert"] h1,
.reveal section[data-state="invert"] h2,
.reveal section[data-state="invert"] div.title p {
    color: rgb(55, 171, 200); }

.reveal section[data-state="invert"] a {
  color: rgb(134, 0, 139);
  }

.reveal section[data-state="invert"] a:hover {
    color: rgba(33, 15, 78, 0.85); }

.reveal .controls section[data-state="invert"]{
  color: rgb(55, 171, 200); }

.reveal .progress section[data-state="invert"]{
  background: rgba(0, 0, 0, 0.2);
  color: rgb(55, 171, 200); }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #37ABC8;
  background-color: #37ABC8; }

.reveal {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #e2e2e2; }

::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal div.title p {
  margin: 0 0 20px 0;
  color: #e2e2e2;
  font-family: "Rancho", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: capitalize;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2,
.reveal div.title p {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: rgba(33, 15, 78, 0.85);;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: none;
  border: none;
  box-shadow: none; }

.reveal section img.plain {
  border: none;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #e2e2e2; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #e2e2e2; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .line-trough-title h2 {
    text-decoration: line-through;
}
